/*  
font-family: 'Inter', sans-serif;
font-family: 'Prata', serif;
*/

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family:' Inter', sans-serif;
    background-color: #191919;
    color: #fff;
}

/* Start Global Rules */

.container {
    padding-inline: 15px;
    margin: 0 auto;
}

ul,
a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    display: flex;
}

/* Small Screen */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* mid screen */
@media (min-width:992px) {
    .container {
        width: 970px
    }

}

/* large Screen */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

header {
    max-width: 100%;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    margin: auto;
    position: relative;
    min-height: 100px;
}


/* start nav */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 20px;

}


@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

header nav ul li {
    padding-inline: 20px;
    flex-basis: 90%;
    margin: auto;
}

header .btn a {
    display: flex;
    padding: 20px;
    justify-content: end;
    max-width: 100%;
    background-color: yellow;
    color: #171717;
    font-weight: normal;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

@media (max-width:767px){

    .container nav ul,
    .btn {
        display: none;
    }

    header nav a {
        display: block;
        flex-direction: column-reverse;
        margin: auto;
        padding: 20px;
        font-size: 16pt;
    }


    header nav .toggle-menu {
        display: block;
    }

    header nav .toggle-menu:hover+ul {
        background-color: rgba(234, 92, 92, 0.697);
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90px;
        left: 0;
    }
}

/* End nav */

/* Start Landing */

.landing {
    min-width: 100%;
    padding-block: 2.5em;
}

.landing .heading {
    width: 70%;
    max-width: 100%;
}

.landing .heading h1 {
    font-family: 'Prata', serif;
    font-size: 40pt;
    padding-bottom: .5em;
}

.landing .heading p {
    font-family: 'Prata', serif;
    font-size: 16pt;
    font-weight: normal;
    padding-bottom: 2.5em;
    color: #ccc;
}

.landing .companies  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px) {

    .landing .heading {
        width: 100%;
    }

    .landing .heading h1 {
        font-size: 20pt;
        line-height: 1.5;
    }

    .landing .heading p {
        font-family: 'Prata', serif;
        font-size: 13pt;
        line-height: 1.5;
    }

    .landing .companies {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
        padding-inline: inherit;
    }
}

@media (min-width:768px) and (max-width:991px) {

    .landing .heading {
        width: 100%;
    }


    .landing .companies {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
        padding-inline: inherit;
    }
}


/* End Landing  */
/* Start featurs */

.featurs {
    padding-top: 1em;
}

.featurs .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    object-position: center;
}

.featurs .box {
    width: 47%;
    height: 100%;
    padding-bottom: 2em;
    position: relative;
}

.featurs .box .heading {
    display: flex;
    justify-content:start;
    align-items:center;
}

.featurs .box .heading i {
padding-inline-start: 50px;
font-size: 30px;
}

.featurs .box img {
    max-width: 100%;
    padding-bottom: 1.5em;
}

.featurs .box h2 {
    padding-bottom: .5em;
    font-size: 30pt;
    font-weight: normal;
    color: #fff;

}

.featurs .box p {
    font-size: 16pt;
    font-weight: normal;
    line-height: 1.5;
    color: #ccc;

}

@media (max-width:767px) {
    .featurs .box {
        width: 100%;
    }

}

@media (max-width:991px) {
    .featurs .box {
        width: 100%;
    }
}

/* End featurs */

/* Start about */
.about {
    padding-top: 1em;
    background-color: #454545;
}

.about .container {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .container .box {
    width: 47%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;

}

.about .container .box .heading {
    padding-bottom: .5em;
    font-size: 30pt;
    font-weight: normal;
    line-height: 1;
    color: #fff;
}


.about .container .box p {
    padding-bottom: 1em;
    font-size: 16pt;
    font-weight: normal;
    line-height: 1.5;
    color: #ccc;
}


@media (max-width:767px) {

    .about .container {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .about .container .box {
        width: 100%;

    }
}

@media (min-width:768px) and (max-width:991px) {

    .about .container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .about .container .box {
        width: 100%;
    }

}

/* End about */

/* Start Contact */
.contact {
    padding-block: 2.5em;
}

.contact .container .text {
    width: 70%;
}

.contact .container h2 {
    font-size: 35pt;
    font-weight: normal;
    color: #fff;
    padding-bottom: .5em;
}

.contact .container p {
    font-size: 16pt;
    font-weight: normal;
    color: #ccc;
    padding-bottom: 1em;
}

.contact .container .btn {
    display: flex;
    padding: 20px;
    font-size: 16pt;
    justify-content: center;
    text-align: center;
    max-width: 20%;
    background-color: yellow;
    font-weight: bold;
    color: #171717;
    font-weight: normal;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

@media (max-width:767px) {
    .contact .container .text {
        width: 100%;
    }

    .contact .container .btn {
        max-width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .contact .container .text {
        width: 100%;
    }

    .contact .container .btn {
        max-width: 30%;
    }
}

/* Start Footer */
footer {
    padding-block:  2em;
    background-color: #454545;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container .social a {
    padding-inline: 0.5em; 

    
}

footer .container .social img {
    width: 3em;
}


/* End Footer */



/* End Contact */